@import url('https://fonts.cdnfonts.com/css/general-sans');
:root
{
    --mainTextColor:rgba(56, 55, 55, 0.699);
}
*
{
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
    font-family: 'General Sans';
    font-size: .92rem;
    transition: all 200ms;
}
::-webkit-scrollbar
{
    width: .2rem;
}
::-webkit-scrollbar-thumb
{
    background-color: black;
    border-radius: 5px;
}
body
{
    width: 100vw;
    overflow-x: hidden;
}
.search
{
    width: 100vw;
    height: 87vh;
    position: fixed;
    background-color: white;
    z-index: 9999;
    top: 6rem;
    display: flex;
    align-items: center;
    justify-content: center; 
    visibility: hidden; 
    transition: all 500ms;
}
.contentOfSearch
{
    height: 85%;
    width: 70vw;
    margin-top: -3rem;
}
.contentOfSearch form
{
    width: 100%;
    display: flex;
    gap: 1rem;
}
.TextBoxOfsearch
{
    outline: none;
    border: 1px solid silver;
    width: 100%;
    height: 3rem;
    padding-left: 2rem;
}
.contentOfSearch form button
{
    outline: none;
    padding: .2rem;
    background-color: transparent;
    border: none;
    width: min-content;
}
.fa-x
{
    font-size: 1.2rem;
    color: silver;
    cursor: pointer;
}
.containerOfTopSearches
{
    display: flex;
    gap: 3rem;
    margin-top: 4rem;
}
.SearchTopLinkes
{
    width: 20rem;
    letter-spacing: .1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.containerOfImagesOfSearch
{
    display: flex;
    gap: 1rem;
    width: 40rem;
}
.ImagesDivOfSearch
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.ImageOfSearch
{
    width: 19rem;
    height: 24rem;
}
.ImageOfSearch img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.FooterOfSearch
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: -2rem;
    color: gray;
}
header
{
    display: flex;
    height: 6rem;
    justify-content:space-between;
    position: fixed;
    width: 100vw;
    padding: 1rem 1.5rem;
    color: white;
    z-index: 9999;
}
header:hover
{
    background-color: white;
    transition: all 200ms;
    color: black;
}
header:hover .icons path
{
    fill: black;
}
header:hover .bag path
{
    stroke: black;
    fill: none;
}
.smallScreen
{
    display: none;
}
.title
{
    font-size: 1.6rem;
    margin: auto;
}
.nav
{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}
.collections
{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.Board
{
    background-color: white;
    width: 100vw ;
    height: 70vh;
    position: absolute;
    top: 6rem;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 200ms;
    cursor: pointer;
    display: flex;
    padding-left: 5rem;
    gap: 8rem;
    align-items: top;
    padding-top: 1rem;
}
.navigationLinksContainer
{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.collections p ,.Navigations p
{
    color: white;
}

.navigationLink
{
    text-decoration: none;
    color: rgb(41, 40, 40);
    letter-spacing: .1rem;
}
.linksTitle
{
    color: black;
    font-weight: bold;
}
.collections:hover .Board
{
    visibility: visible;
    opacity: 1;
}
.Navigations
{
    display: flex;
    gap: .3rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.icons
{
    width: 1rem;
}
.icons path
{
   fill: white;
}
.bag
{
    position: relative;
    display: inline-block;
}
.bag path
{
    stroke: white;
    fill: none;
}
.bagContainer
{
    position: relative;
}
.bagContainer::before {
    --counter: 0;
    content: attr(data-counter);
    position: absolute;
    background-color: orangered;
    color: white;
    border-radius: 50%; 
    width: .9rem;
    height: .9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -.5rem;
    right: -.2rem;
    z-index: 5;
}
.firstSection
{
    width: 100vw;
    height: 100vh;
    position: relative;
}
.VideoBack
{
    width:100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: -1;
}
.txt-main
{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    bottom: 3rem;
    left: 44%;
    letter-spacing: .1rem;
}
.txt-main p
{
    color: white;
}
.middleFont
{
    color: var(--mainTextColor);
    font-size: 1rem;
}
.largFont
{
    color: var(--mainTextColor);
    font-size: 2rem;
}
.smallFont
{
    color: var(--mainTextColor);
    font-size: .8rem;
}
.underline
{
    border-bottom: 1px solid white;
}
.underlineBlack
{
    width: fit-content;
    border-bottom: 1px solid var(--mainTextColor);
}
.secondSection
{
    width: 100vw;
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
.window
{
    margin-left: -15rem;
}
.containerCollectionNavigations
{
    display: flex;
    overflow-x: scroll;
    width: 90%;
    gap: .8rem;
    margin-left: 20%;
}
.titleSection2
{
    font-size: 1.5rem;
    font-weight: 550;
    color: var(--mainTextColor);
}
.NavigateDivs
{
    width: 16rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    gap:1rem;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.imagesCsection2
{
    width: 16rem;
    height: 16rem;
    overflow: hidden;
}
.collectionImagesSecond
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 400ms;
}
.titleCollection
{
    font-size: 1.1rem;
    color: var(--mainTextColor);
}
.collectionImagesSecond:hover
{
    scale: 1.1;
}
.thirdSection
{
    display: flex;
    width: 100vw;
    height: fit-content;
    justify-content: space-evenly;
    align-items: center;
}
.ThirdSectionContent
{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.withImageBack
{
    position: relative;
    width: 45%;
    height: 100vh;
    overflow: hidden;
}
.ImageSection3
{
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: all 400ms;
}
.withImageBack:hover .ImageSection3
{
    scale: 1.1;
}
.divInsideDivOfSection3
{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: left;
    width: 19rem;
    height: 10rem;
    padding: .2rem .5rem;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    background-color: white;
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
    transition: all 400ms;
}
.withImageBack:hover .divInsideDivOfSection3
{
    visibility: visible;
    opacity: 1;
}
.imageDes
{
    width: 9rem;
    height: 8rem;
}
.DescriptionOfSection3
{
    width: 7.5rem;
    font-size: .9rem;
    color: gray;
}
.headThirdDesc
{
    font-size: 1.3rem;
    color: var(--mainTextColor);
}
.thirdDesc
{
    color: var(--mainTextColor);
    width: 17rem;
}
.firstDivSection3
{
    height: 110vh;
    margin-bottom: -17rem;
    margin-top: 15rem;
}
.secondSectionDiv
{
    margin-left: 10rem;
    width: 30%;
    height: 80vh;
}
.descriptionSc3
{
    margin-top: 61rem;
    transform: translateX(10rem);
}
.Section4
{
    display: flex;
    margin-top: 20rem;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.divSection4
{
    height: 100vh;
    position: relative;
    cursor: pointer;
}
.coverdivSection4
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.discSection4
{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    color: white;
}
.section5
{
    margin-top: 10rem;
}
.SwapSection5
{
    width: 20rem;
    height: 18rem;
    position: relative;
    z-index: 4;
    display: flex;
    flex-direction: column;
    height: max-content;
    cursor: pointer;
}
.imgSwap
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.descSection5
{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-left: 2rem;
}
.swiperthemp
{
    display: flex;
    position: absolute;
    bottom: 0;
    left: 40%;
}
.swiperthemp p
{
    width: 3rem;
    height: 2px;
    background-color: silver;
}
.hoverImage
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 800ms;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
    background-color: white;
}
.SwapSection5:hover .hoverImage
{
    visibility: visible;
    z-index: 2;
    opacity: 1;
}
.FavSection5
{
    visibility: hidden;
    opacity: 0;
    z-index: -3;
    position: absolute;
    top: .5rem;
    right: .5rem;
}
.SwapSection5:hover .FavSection5
{
    visibility: visible;
    z-index: 2;
    opacity: 1;
    z-index: 3;
}
.Section6
{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: max-content;
    padding-left: 2rem;
}
.section6Content
{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: white;
}
.FixedImageBack
{
    background: url(../images/Icon-CollectionSection6.jpg) fixed;
    background-size: 46rem;

}
.withImageBackSection6
{
    background: url(../images/Shop-The-Look-SP24Section6.jpg);
    background-size: 50rem;
    height: 90vh;
}
.descriptionSc6
{
    align-items: start;
    flex-direction: column;
    gap: 2rem;
    letter-spacing: .1rem;
    padding-left: 12%;
}
footer
{
    display: flex;
    padding: 4.5rem 4rem;
    gap: 5rem;
    width: 100vw;
    color: gray;
    border-top: .5px solid silver;
    letter-spacing: .1rem;
}
.FooterContent
{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: max-content;
}
.ContainerOFinksFooter
{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 100%;
}
.titleLinkesFooter
{
    color: rgb(7, 7, 7);
    font-size: .8rem;
    
}
.ContainerOFinksFooter a,p
{
    color: gray;
    font-size: .8rem;
}
.ContainerOFinksFooter form
{
    display: flex;
    flex-wrap: wrap;
    gap: .2rem;
    width: 100%;
    margin-top: 2rem;
}
.ContainerOFinksFooter form input
{
    width: 88%;
    height: 3rem;
    padding: .1rem .5rem;
    border:none;
    outline: none;
    border-bottom: 1px solid silver;
}
.ContainerOFinksFooter form button
{
    background-color: transparent;
    border: none;
    outline: none;
    font-size: .8rem;
    padding: .1rem .3rem;
    border-bottom: 1px solid;
}
.ContainerOFinksFooter form input:focus
{
    border-color: black;
}
.ContainerOFinksFooter form input::placeholder
{
    letter-spacing: .1rem;
    font-size: 1rem;
}
.SocialContainer
{
    display: flex;
    gap: 1rem;
}
.SocialContainer a i
{
    font-size: 1.2rem;
}
.fa-plus
{
    display: none;
    visibility: hidden;
}
@media screen and (max-width: 768px) {
    .collections , .Navigations
    {
        display: none;
    }
    .smallScreen
    {
        visibility: visible;
        display: block;
    }
    .txt-main
    {
        left: 30%;
        color: white !important;
    }
    .secondSection
    {
        width: 100vw;
        margin-top: 8rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3rem;
    }
    .window
    {
        width: 100vw;
        overflow-x: scroll;
        margin-left: 0rem;
    }
    .window::-webkit-scrollbar
    {
        width: .2rem;
        height: .2rem;
        
    }
    .window::-webkit-scrollbar-thumb
    {
        background-color: black;
        border-radius: 5px;
    }
    .containerCollectionNavigations
    {
        display: flex;
        width: fit-content;
        gap: .8rem;
        margin-left:auto;
    }
    .NavigateDivs
    {
        width: 22rem ;
        height: 25rem ;
        display: flex;
        flex-direction: column;
        gap:2rem;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }
    .imagesCsection2
    {
        width: 16rem;
        height: 16rem;
        overflow: hidden;
    }
    .Section4
    {
        flex-direction: column;
    }
    .swiperthemp
    {
        position: relative;
        top: -8rem;
        left: 4rem;
    }
    .thirdSection
    {
        flex-wrap: wrap;
        position: relative;
    }
    .ThirdSectionContent
    {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .withImageBack
    {
        position: relative;
        width: 100vw;
        height: 30vh;
        overflow: hidden;
    }
    .ImageSection3
    {
        object-fit: cover;
        width: 100%;
        height: 100%;
        transition: all 400ms;
    }
    .withImageBack:hover .ImageSection3
    {
        scale: 1;
    }
    .divInsideDivOfSection3
    {
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: left;
        width: 100vw;
        height: 5rem;
        padding: .2rem .5rem;
        background-color: white;
        position: static;
        visibility: visible;
        opacity: 1;
        cursor: pointer;
        transition: all 400ms;
    }
    .imageDes
    {
        width: 9rem;
        height: 8rem;
    }
    .DescriptionOfSection3
    {
        width: 12rem;
        font-size: .9rem;
        color: gray;
    }
    .headThirdDesc
    {
        font-size: 1.3rem;
        color: var(--mainTextColor);
    }
    .thirdDesc
    {
        color: var(--mainTextColor);
        width: 100%;
    }
    .descriptionSc3
    {
       position: absolute;
       top: 0;
       left: 0;
       margin-top: 0rem;
       transform: translateX(0rem);
       width: 100vw;
       padding: 1.2rem 1.5rem;
    }
    .firstDivSection3
    {
        height: inherit;
        margin-bottom: 2rem;
        margin-top: 15rem;
    }
    .secondSectionDiv
    {
        margin-left: 0;
        width: inherit;
        height: inherit;
    }
    .Section6
    {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: max-content;
        padding-left: 0rem;
        gap: 2rem;
        position: relative;
    }
    .section6Content
    {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50vh;
        background-color: white;
    }
    .FixedImageBack
    {
        background: url(../images/Icon-CollectionSection6.jpg) fixed;
        background-size: 30rem;
        position: absolute;
    }
    .withImageBackSection6
    {
        background: url(../images/Shop-The-Look-SP24Section6.jpg);
        background-size: 32rem;
        height: 50vh;
    }
    .swaperSection6
    {
        margin-top: 5rem;
    }
    .descriptionSc6
    {
        align-items: start;
        flex-direction: column;
        gap: 2rem;
        letter-spacing: .1rem;
        padding-left: 12%;
        margin-top: 30rem;
        height: 40vh;
    }
    footer
    {
        display: flex;
        flex-direction: column;
        padding: 3rem 1rem;
        gap: 1rem;
        width: 100vw;
        color: gray;
        border-top: .5px solid silver;
        letter-spacing: .1rem;
        overflow: hidden;
    }
    .FooterContent
    {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
    }
    .ContainerOFinksFooter:not(.formContainer) {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        width: 100%;
        height: 1rem;
        overflow: hidden;
        position: relative;
        transition: all 500ms ;
    }  
    .formContainer
    {
        margin-bottom: 3rem;
    }  
    .titleLinkesFooter
    {
        color: rgb(7, 7, 7);
        font-size: .8rem;
        
    }
    .ContainerOFinksFooter a,p
    {
        color: gray;
        font-size: .8rem;
    }
    .ContainerOFinksFooter form
    {
        display: flex;
        flex-wrap: wrap;
        gap: .2rem;
        width: 100%;
        margin-top: 2rem;
    }
    .ContainerOFinksFooter form input
    {
        width: 80%;
        height: 3rem;
        padding: .1rem .5rem;
        border:none;
        outline: none;
        border-bottom: 1px solid silver;
    }
    .ContainerOFinksFooter form button
    {
        background-color: transparent;
        border: none;
        outline: none;
        font-size: .8rem;
        padding: .1rem .3rem;
        border-bottom: 1px solid;
    }
    .ContainerOFinksFooter form input:focus
    {
        border-color: black;
    }
    .ContainerOFinksFooter form input::placeholder
    {
        letter-spacing: .1rem;
        font-size: 1rem;
    }
    .SocialContainer
    {
        display: flex;
        gap: 1rem;
    }
    .SocialContainer a i
    {
        font-size: 1.2rem;
    }
    .fa-plus
    {
        display: block;
        position: absolute;
        top: 0;
        right: .4rem;
        visibility: visible;
    }
  }
  @media (min-width: 768px) and (max-width: 1000px) {
    
  }