header
{
    transition: all 500ms;
}
button
{
    cursor: pointer;
}
.mainContainer
{
    display: flex;
    gap: 1rem;
    margin-top: 20rem;
    margin-left: 13rem;
}
.containerOfImagesInProduct
{
    display: flex;
    flex-direction: column;
    width: 70vw;
}
.MainImage
{
    width: 100%;
    height: 80vh;
    margin-bottom: 8rem;
}
.MainImage img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ImagesOfProductContainer
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    margin-bottom: 3rem;
}
.antherImageContainer
{
    width: 45%;
    height: 35rem;
}
.antherImageContainer img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.details
{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height: fit-content;
    position:sticky;
    top: 8rem;
    margin-top: -20rem;
    margin-bottom: 2rem;
}
.firstD
{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height: fit-content;
    margin-bottom: 2rem;
}
.secondD
{
    display: flex;
    flex-direction: column;
    gap: .2rem;
    letter-spacing: .1rem;
}
.titleOfDetailsOfProduct
{
    color: black;
    font-size: 1.3rem;
}
.DescriptionOfDetails
{
    width: 29rem;
    letter-spacing: .1rem;
}
.NameOfproduct
{
    font-size: 1rem;
    letter-spacing: .1rem;
}
.productRelated
{
    width: 6rem;
    height: 6rem;
    transition: all 400ms;
}
.productRelated:hover
{
    border-bottom: 1px solid black;
}
.antherProduct
{
    display: flex;
    gap: 1rem;
}
.containerOfSizeBtn
{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    gap: 1rem;
}
.size-btn
{
    outline: none;
    border: 1px solid silver;
    background-color: transparent;
    width: 4rem;
    height: 2rem;
    transition: all 300ms;
}
.size-btn:hover
{
    border-color: black;
}
.trans-btn
{
    background-color: transparent;
    padding: .5rem 1rem;
    border: 1px solid gray;
    width: 10rem;
}
.addToBag
{
    padding: .7rem .5rem;
    background-color: black;
    outline: none;
    border: none;
    width: 20rem;
    color: white;
    font-size: .7rem;
}
@media screen and (max-width:800px) {
    .mainContainer {
        display: block;
        gap: 1rem;
        margin-top: 0rem;
        margin-left: 0;
    }
    
    .containerOfImagesInProduct {
        display: flex;
        flex-direction: row;
        width: max-content;
    }
    
    .window {
        width: 100vw;
        overflow-x: scroll;
        margin-top: 5rem;
    }
    
    .MainImage {
        width: 30rem;
        height: 30vh;
    }
    
    .MainImage img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .ImagesOfProductContainer {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        gap: .5rem;
        margin-bottom: 3rem;
        overflow-x: auto;
        overflow-y: hidden;
        scroll-snap-type: x mandatory;
    }
    
    .antherImageContainer {
        width: 30rem;
        height: 40vh;
        scroll-snap-align: start; 
    }
    
    .antherImageContainer img
    {
        width: 100%;
        height: 100%;
        object-fit:fill;
    }
.details
{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height: fit-content;
    position:sticky;
    top: 8rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 2rem;
}
.firstD
{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height: fit-content;
    margin-bottom: 2rem;
}
.secondD
{
    display: flex;
    flex-direction: column;
    gap: .2rem;
    letter-spacing: .1rem;
}
.titleOfDetailsOfProduct
{
    color: black;
    font-size: 1.3rem;
}
.DescriptionOfDetails
{
    width: 85vw;
    letter-spacing: .1rem;
}
.NameOfproduct
{
    font-size: 1rem;
    letter-spacing: .1rem;
}
.productRelated
{
    width: 6rem;
    height: 6rem;
    transition: all 400ms;
}
.productRelated:hover
{
    border-bottom: 1px solid black;
}
.antherProduct
{
    display: flex;
    gap: 1rem;
}
.containerOfSizeBtn
{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    gap: 1rem;
}
.size-btn
{
    outline: none;
    border: 1px solid silver;
    background-color: transparent;
    width: 4rem;
    height: 2rem;
    transition: all 300ms;
}
.size-btn:hover
{
    border-color: black;
}
.trans-btn
{
    background-color: transparent;
    padding: .5rem 1rem;
    border: 1px solid gray;
    width: 10rem;
}
.addToBag
{
    padding: .7rem .5rem;
    background-color: black;
    outline: none;
    border: none;
    width: 20rem;
    color: white;
    font-size: .7rem;
}
}